li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

#header {
  padding: 5px;
  margin: 5px;
/*  background: aqua;*/
}

.form-group {
  margin-bottom: 5px;
}

#burgimg{
max-height:200px;
max-width:200px;
display: block;
margin: 0 auto;

}

#center{
text-align: center;
};